<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
<div class="box relative position"></div>
<div class="child absolute"></div>
<div class="box green"></div>

<style>
    .box{
        width: 300px;
        aspect-ratio: 1;
        background-color: lightblue;
        margin: 10px 0;
    }


    .relative {
        position: relative;
        top: 300px;
        left: 100px;
    }

    .green {
        background-color: lightgreen;

    }
    .absolute{
        background-color: black;
        width: 100px;
        aspect-ratio: 1;
        position: absolute;
        top: 20px;
        left :200px;

    }
</style>

</body>
</html>